// Heading Margins and Spacing

.cm-line.HyperMD-header:first-child,
:not(.show-properties) div[contenteditable="false"]:first-child + .cm-line.HyperMD-header {
    padding-block-start: unset;
}
.markdown-rendered :is(.el-div, .el-blockquote) + div[class*="el-h"] > * {
  	margin-block-start: calc(var(--heading-spacing) - var(--p-spacing));
}
.markdown-rendered div[class*="el-h"] + .el-table > table {
  	margin-block-start: calc(var(--p-spacing) / 2);
}
.markdown-rendered div[class*="el-h"] > * {
	margin-block-start: round(nearest, var(--heading-margin-start), 2px);
}
.markdown-rendered div[class*="el-hr"] > * {
	margin-block: var(--hr-spacing);
}

// Headings

.cm-s-obsidian .cm-line.HyperMD-header,
.markdown-rendered :is(h1,h2,h3,h4,h5,h6) {
	--bold-modifier: 200;
}

// H1 Headings
.cm-s-obsidian .cm-line.HyperMD-header-1, 
.markdown-rendered h1,
.inline-title {
	letter-spacing: -0.01em;
	text-indent: -0.035em;
	&::after {
		content: '';
		contain: content;
		width: 100%;
		height: 0.125rem;
		background-color: var(--hr-color);
		display: block;
		border-radius: var(--radius-xxl);
		margin-block: 0.375rem 0;
		-electron-corner-smoothing: var(--corner-smoothing);
	}
}
.markdown-rendered :is(div[class="el-h1"], .mod-header) + :is(.el-div, .el-blockquote) > *,
.markdown-rendered .mod-header.mod-ui + .el-pre.mod-frontmatter + :is(.el-div, .el-pre, .el-blockquote) > * {
	margin-block-start: var(--block-padding-mod); 
	// block padding + account for h1 underline
}
// remove h1 compensation
body.disable-title-h1,
.markdown-rendered.simple-title {
	--block-padding-mod: var(--block-padding);
}

// Disable H1 special styling 
body:not(.disable-title-h1).alt-font-set :is(.HyperMD-header-1, h1) {
	font-feature-settings: 'cv05' off, 'cv06', 'cv11' off;
}
.disable-title-h1 .cm-line.HyperMD-header-1, 
.disable-title-h1 .markdown-rendered h1 {
	color: var(--text-normal);
	font-size: var(--h1-size-alt);
	font-weight: var(--h1-weight-alt);
	--bold-modifier: 400;
	&::after {
		display: none;
	}
}

// H2-6 Headings

.cm-s-obsidian .cm-line.HyperMD-header-2, 
.markdown-rendered h2 {
	letter-spacing: -0.005em;
	text-indent: -0.0175em;
}
.cm-s-obsidian .cm-line.HyperMD-header-3, 
.markdown-rendered h3 {
	letter-spacing: -0.005em;
	text-indent: -0.015em;
}
.cm-s-obsidian .cm-line.HyperMD-header-4, 
.markdown-rendered h4 {
	letter-spacing: -0.00375em;
	text-indent: -0.01em;
}
.cm-s-obsidian .cm-line.HyperMD-header-5, 
.markdown-rendered h5 {
	letter-spacing: 0;
	text-indent: -0.005em;
}
.cm-s-obsidian .cm-line.HyperMD-header-6, 
.markdown-rendered h6 {
	letter-spacing: 0.005em;
}