// Main options
.style-settings-heading[data-id="obsidian-velocity"] {
    --color-base-80: var(--color-accent);
    --icon-color: var(--color-accent-1);
    --text-normal: var(--color-accent-1);
    --setting-group-heading-color: var(--color-accent-1);
}
.style-settings-heading[data-id="obsidian-velocity-config"] {
    --icon-color: var(--text-muted);
    --text-normal: var(--text-muted);
    --setting-group-heading-color: var(--text-muted);
}
.style-settings-heading[data-id*="obsidian-velocity"] {
    background-color: var(--background-primary);
    border-radius: var(--radius-sm);
    margin-block: calc(var(--vl-layout-padding) + 8px) calc(var(--vl-layout-padding) * -1) !important;
    > .setting-item-info {
        padding-block: calc(var(--vl-layout-padding) * 1.5);
        text-box-trim: trim-both;
    }
    .style-settings-collapse-indicator svg {
        stroke-width: 4.5px;
    }
}

.style-settings-info-text[data-id="ss-section-news"] {
  margin-block-start: 32px;
    text-align: center;

  .setting-item-name {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-line-height);
    padding-block-end: var(--p-spacing);
  }
}
.setting-item[data-id="ss-section-news"] {
  background-color: var(--background-modifier-hover);
  display: var(--news-display);
}
body.ss-section-news {
  --news-display: none;
}

.style-settings-collapse-indicator {
    color: var(--icon-color);
}
.style-settings-collapse-indicator svg {
    stroke-width: 4px;
    height: 10px;
    width: 10px;
    transition: var(--anim-duration-moderate) var(--vl-ease-out);
}

.style-settings-info-text .setting-item-info + .setting-item-control {
    display: none;
}
.setting-item.style-settings-heading {
    font-size: var(--font-ui-large);
    padding-block: calc(var(--vl-layout-padding) + 8px) unset;
    border-block-end: none;
    &:first-child {
        margin-block-start: 24px;
    }
}
.setting-item.style-settings-info-text[data-id="ss-section-title"] {
    background-color: transparent;
    margin-block-end: unset;
}

.style-settings-container {
    padding-block-end: 0;
    --setting-group-heading-size: 16px;
    --setting-group-heading-weight: var(--font-semibold);
}
.style-settings-heading[data-level="0"] + .style-settings-container {
    padding-inline-start: 20px;
}
.style-settings-container > .setting-item {
    border-radius: var(--radius-m);
}

.setting-item-heading[data-id="obsidian-velocity"] + .style-settings-container {
    .setting-item[data-id="file-line-width"] .setting-item-description {
        display: initial;
        > div {
            display: none;
        }
    }
}
.setting-item.style-settings-info-text[data-id="ss-section-title"] {
    > .setting-item-info {
        margin-inline-end: unset;
    }
    p {
        color: var(--text-normal);
        font-size: 16px;
        font-weight: var(--font-semibold);
    }
    .setting-item-description {
        padding: unset;
    }
}

.setting-item.style-settings-heading:not(.is-collapsed)[data-level="0"] {
    margin-bottom: 4px;
}
.setting-item.style-settings-heading:not(.is-collapsed) {
    --setting-group-heading-color: var(--text-normal);
}

// Hidden setting items

body:not(.is-phone) .setting-item[data-id="safe-area-adjust"] {
    display: none;
}
.theme-dark .style-settings-container > .setting-item[data-id="theme-paint-light"],
.theme-light .style-settings-container > .setting-item[data-id="theme-paint-dark"],
body.is-phone .style-settings-info-text[data-id="paint-preview"],
body.is-phone .style-settings-info-text[data-id="disable-performance-tweaks"] {
    display: none;
}

// Paint job preview

.theme-light
    .style-settings-container
    > .style-settings-info-text[data-id="paint-preview"]
    > .setting-item-info
    > *,
.setting-item-heading[data-id*="ss-section-hidden"] {
    display: none;
}
.setting-item-heading[data-id="ss-section-hidden-paint"] + .style-settings-container {
    display: flex;
    gap: 8px;
}
.style-settings-container > .style-settings-info-text[data-id="paint-preview"] {
    flex: 1 1;
    min-height: 200px;
    padding: 12px;
}
.style-settings-container > .style-settings-info-text[data-id="paint-preview"] > .setting-item-info {
    width: 100%;
    height: 100%;
    margin: unset;
    border-radius: var(--radius-xs);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-image: var(--paint-image);
}
.style-settings-container > .setting-item[data-id*="theme-paint"] {
    flex: 1 1;
    flex-direction: column;
    align-items: start;
    gap: 0;
    > .setting-item-info {
        width: 100%;
        max-height: fit-content;
        margin-inline-end: unset !important;
        margin-block-end: auto;
    }
    > .setting-item-info::after {
        content: var(--paint-description);
        width: 100%;
        max-height: fit-content;
        display: block;
        margin-block-start: calc(var(--font-small) * 3);
        font-size: var(--font-small);
        color: var(--icon-color);
        font-style: italic;
    }
    .setting-item-name {
        font-size: var(--font-ui-large);
        font-variation-settings: "opsz" 28;
        font-weight: var(--font-medium);
        text-box-trim: trim-both;
        text-box-edge: cap text;
    }
    .setting-item-control {
        max-height: fit-content;
        width: 100%;
    }
    select.dropdown {
        font-weight: var(--font-medium);
    }
    small {
        font-size: var(--font-ui-smaller);
        padding-inline-start: 1px;
    }
}

.setting-item[data-id*="color-highlight-rgb"] .setting-item-control::before {
    content: 'Lorem Ipsum';
    background-color: var(--text-highlight-bg);
    border-radius: var(--radius-xs);
    font-size: var(--font-ui-small);
    font-weight: var(--font-semi-medium);
    padding: 3px 6px;
}

// Paint flavor text

.theme-light {
    --paint-description: "The default light color scheme for Velocity. A timeless classic with a mild futuristic touch.";
}
.theme-light.white {
    --paint-description: "The original colors of Obsidian. Familiar, clean and of a totally neutral character, perfect for the aspiring minimalist.";
}
.theme-light.utopia {
    --paint-description: "A serene off-white tan color scheme inspired by jdanielmourao's Sanctum, a classic among Obsidian themes.";
}
.theme-light.beige {
    --paint-description: "This warm color scheme takes after the spirit of old grand tourers, known for their comfort, sportiness and leather-laden interiors.";
}
.theme-light.milgreen {
    --paint-description: "With a stong green accent and metallic sheen, this retro-futuristic color scheme harkens back to the glory days of Web 2.0 interface design.";
}
.theme-light.jetblue {
    --paint-description: "A cool blue paint scheme inspired by the Audi R8 and the Nord color palette. Sleek and industrial with a touch of elegance.";
}
.theme-light.anniversary {
    --paint-description: "An energetic and vibrant color scheme and UI overhaul harkening back to the racing game roots of pre-alpha Velocity.";
}

.theme-dark {
    --paint-description: "The default dark color scheme for Velocity. A deep dark gray with a tinge of blue.";
}
.theme-dark.gray {
    --paint-description: "The iconic original colors of Obsidian. Experience this classic, minimalist color palette on a fresh new layout.";
}
.theme-dark.black {
    --paint-description: "A zero-frills, borderline spartan paint scheme. Its pitch black high contrast is perfectly suited for power users, as well as OLED screens.";
}
.theme-dark.bronze {
    --paint-description: "A mellow color scheme that takes after the spirit of old grand touring sports cars - perfect for those who love coffee brown and earthen tones.";
}
.theme-dark.brg {
    --paint-description: "This color scheme takes after a classic from racing history. Imbue your notes with the elegance and vitality of a British super sports.";
}
.theme-dark.nord {
    --paint-description: "A deeper blue take on the Nord color palette, with additional inspiration from real-world automotive paints. Calm, elegant and futuristic.";
}
.theme-dark.midnight {
    --paint-description: "A stunning iridescent purple paint scheme inspired by a rare factory option for the Nissan GT-R. Its dynamic colors shift based on your notes' layout.";
}
.theme-dark.velocity-dark {
    --paint-description: "A dark color scheme using Velocity's original brand colors — blue, green, and red accents on a near-black background.";
}
