:is(.mod-linux, .mod-windows).is-hidden-frameless:not(.is-fullscreen)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container {
  padding-inline-end: 0;
  margin-inline-end: calc(var(--frame-right-space) - 4px);
}
.is-hidden-frameless:not(.is-fullscreen):is(.mod-linux, .mod-windows) .workspace-tabs.mod-top-right-space .workspace-tab-header-container::after {
  pointer-events: none;
  right: calc(-1 * (var(--frame-right-space) - 4px));
}
.titlebar-button-container.mod-right > .titlebar-button::after {
  content: "";
  background-color: var(--titlebar-text-color);
  width: var(--icon-s);
  height: var(--icon-s);
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
}
.is-focused .titlebar-button-container.mod-right > .titlebar-button::after {
  background-color: var(--titlebar-text-color-focused);
}
:is(.mod-linux, .mod-windows) .titlebar-button {
  padding-inline: 18px;
  &:not(.mod-logo) > * {
    display: none;
  }
  &.mod-minimize {
    display: var(--minimize-visibility);
  }
  &.mod-maximize {
    display: var(--maximize-visibility);
  }
  &.mod-minimize::after {
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjA2MjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtbWludXMtaWNvbiBsdWNpZGUtbWludXMiPjxwYXRoIGQ9Ik01IDEyaDE0Ii8+PC9zdmc+");
  }
  &.mod-maximize::after {
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjc1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNxdWFyZS1pY29uIGx1Y2lkZS1zcXVhcmUiPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgeD0iMyIgeT0iMyIgcng9IjIiLz48L3N2Zz4=");
    -webkit-mask-size: 75%;
  }
  &.mod-close::after {
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjM1NzE0Mjg1NzE0Mjg1NyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS14LWljb24gbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+");
  }
  &.mod-close:hover {
    background-color: oklch(from var(--color-red) l c h / 0.333);
  }
  &.mod-close:hover::after {
    background-color: var(--color-red);
  }
  &.mod-left {
    padding-inline-start: 3px;
    --background-modifier-hover: transparent;
  }
}
:is(.mod-linux, .mod-windows).is-maximized
  .titlebar-button.mod-maximize::after {
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjU3MTQyODU3MTQyODU3MTYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtY29weS1pY29uIGx1Y2lkZS1jb3B5Ij48cmVjdCB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHg9IjgiIHk9IjgiIHJ4PSIyIiByeT0iMiIvPjxwYXRoIGQ9Ik00IDE2Yy0xLjEgMC0yLS45LTItMlY0YzAtMS4xLjktMiAyLTJoMTBjMS4xIDAgMiAuOSAyIDIiLz48L3N2Zz4=");
  transform: rotateY(180deg);
}

:is(.mod-linux, .mod-windows).no-minimize,
:is(.mod-linux, .mod-windows).only-exit {
  --minimize-visibility: none;
  --frame-right-space: 110px;
}
:is(.mod-linux, .mod-windows).no-maximize,
:is(.mod-linux, .mod-windows).only-exit {
  --maximize-visibility: none;
  --frame-right-space: 110px;
}
:is(.mod-linux, .mod-windows).only-exit {
  --frame-right-space: 58px;
}

// Obsidian icon in titlebar

:is(.mod-linux, .mod-windows) .titlebar-button.mod-logo {
  min-width: calc(var(--ribbon-width) + 6px);
  --background-modifier-hover: transparent;
}
